<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>app-1 ToDoList1</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <script src="jquery-3.1.0.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="vue.js"></script>
    <script src="app.js"></script>
</head>
<body>
<div class="container" id="app">
    <form role="form" class="well">
        <div class="form-group">
            <label for="username">用户名:</label>
            <input type="text" id="username" placeholder="请输入姓名" class="form-control" v-model="username">
        </div>
        <div class="form-group">
            <label for="age">年龄:</label>
            <input type="text" id="age" placeholder="请输入年龄" class="form-control" v-model="age">
        </div>
        <div class="form-group text-center">
            <input type="button" class="btn btn-info" value="添加" v-on:click="add()">
            <input type="reset" class="btn btn-danger" value="重置">
        </div>
    </form>
    <hr>
    <table class="table table-bordered table-hover">
        <caption class="h3 text-center">用户信息表</caption>
        <tr class="text-danger">
            <th class="text-center">序号</th>
            <th class="text-center">名字</th>
            <th class="text-center">年龄</th>
            <th class="text-center">操作</th>
        </tr>
        <tr class="text-center" v-for="(item,index) in myData">
            <td>{{index+1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.age}}</td>
            <td>
                <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#myModal"
                        v-on:click="getIndex(index)">删除
                </button>
            </td>
        </tr>
        <tr v-show="myData.length!=0">
            <td colspan="4" class="text-center ">
                <button class="btn btn-danger" data-toggle="modal" data-target="#myModal" v-on:click="changeNowIndex()">
                    删除全部
                </button>
            </td>
        </tr>
        <tr v-show="myData.length==0">
            <td colspan="4" class="text-center">
                <p>暂无数据...</p>
            </td>
        </tr>
    </table>

    <!--模态框-->
    <div class="modal fade " id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                    <h3 v-bind:click="warnMsg">{{warnMsg}}</h3>
                </div>
                <div class="modal-body">
                    <p>请小主三思啊！</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger btn-sm" data-dismiss="modal" v-on:click="deleteMsg()">确认</button>
                    <button class="btn btn-primary btn-sm" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>